.hero-section {
  background-color: #f5f5f5;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  @media (min-width: 768px) {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
}
.container-hero {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.hero-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30vh;
  @media (max-width: 960px) {
    background-size: cover;
    background-position: center;
  }
}
.hero-tittle > h1 {
  color: #fff;
  font-size: 3.5rem;
  line-height: 3.125rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  text-align: center;
  text-shadow: 0 2px 10px #000;
  padding-bottom: 20px;
}
.hero-sub-tittle {
  width: 75%;
  margin: auto;
  color: #fff;
  h2 {
    font-size: 1.5rem;
    padding: 0;
    text-align: center;
    text-shadow: 0 2px 10px #000;
  }
}
.hero-buttons {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 60px;
}
.hero-btn-one,
.hero-btn-two {
  background-color: rgb(61, 36, 156);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  width: 246px;
  height: 54px;
  border-radius: 2rem;
  margin: 10px;
  text-align: center;
  border-color: transparent;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  &:hover {
    background-color: rgb(89, 66, 182);
    color: #fff;
  }
}
.hero-image {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 30vh;
}
.hero-logo {
  padding-top: 40%;
}
.Rabbids {
  background-color: rgb(222, 23, 2);
  &:hover {
    background-color: rgb(219, 72, 56);
  }
}
.ubisoft-store {
  background-color: rgb(255, 13, 120);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  &:hover {
    background-color: rgb(243, 88, 158);
  }
}
.hero-btn-two.ubisoft-store {
  visibility: hidden;
  background-color: transparent;
}

.assassins-creed {
  background-color: rgb(137, 109, 61);
  &:hover {
    background-color: rgb(138, 116, 78);
    color: #fff;
  }
}
.riders-republic {
  background-color: rgb(220, 37, 148);
  &:hover {
    background-color: rgb(216, 89, 165);
  }
}
.rainbow-six-siege {
  background-color: rgb(96, 205, 176);
  &:hover {
    background-color: rgb(120, 207, 184);
  }
}
.just-dance {
  background-color: rgb(86, 20, 174);
  &:hover {
    background-color: rgb(108, 62, 168);
  }
}
.rainbow-six-extraction {
  background-color: rgb(13, 46, 63);
  &:hover {
    background-color: rgb(60, 127, 160);
  }
}
.far-cry-6 {
  background-color: rgb(219, 102, 4);
  &:hover {
    background-color: rgb(201, 127, 67);
  }
}
.brawhalla {
  background-color: rgb(221, 121, 23);
  
  &:hover {
    background-color: rgb(219, 154, 88);
  }
}
.ubisoft-plus {
  background-color: rgb(66, 142, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  &:hover {
    background-color: rgb(112, 170, 231);
    color: #fff;
  }
}

.hero-btn-two.ubisoft-plus {
  visibility: hidden !important;
  background-color: transparent !important;
}

.roller-champions {
  background-color: rgb(61, 36, 156);
  &:hover {
    background-color: rgb(86, 70, 153);
  }
}
.the-division-resurgence {
  background-color: rgb(255, 106, 19);
  &:hover {
    background-color: rgb(248, 147, 88);
  }
}
.skull-and-bones {
  background-color: rgb(150, 57, 16);
  &:hover {
    background-color: rgb(148, 85, 58);
  }
}
.the-crew-2 {
  background-color: rgb(191, 53, 46);
  &:hover {
    background-color: rgb(192, 97, 92);
  }
}
