.card-status{
    text-transform: uppercase;
    font-size: 13px;
    color: gray;

}

.card-title{
    font-weight: 700;
    height: 3em;
    @media only screen and (max-width: 600px) {
        font-size: small !important;
    }
}

.card-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    filter: invert(0%) sepia(0%) saturate(50%) hue-rotate(338deg) brightness(100%) contrast(10%);
}

.card-body{
    background-color: white;
}

.slider-arrow{
    margin-top: 400px;
    border: none;
    background-color: rgba(229,233,234,.4);

}

.slider-arrow-left{
    border-radius: 0px 30px 30px 0px;
    width: 60px;
    height: 60px;
    
}
.slider-arrow-right{
    border-radius: 30px 0px 0px 30px;
    width: 60px;
    height: 60px;
}

.game-card{
    margin: 15px;
    height: auto;
    
}

.BrainhubCarousel .BrainhubCarousel__trackContainer{
    width: 80% !important;
    margin: auto;
}

// game section

.game-section{
    background-color: white;
}

.game-section-title{
    text-transform: uppercase;
    padding-top: 50px;
    text-align: center;
    h2{
        font-weight: 700;
        font-size: 2.5rem;
        color: #000; 

    }
}

.clear{
    clear: both;
}

.btn-more{
    text-align: center;
    background-color:#d80388;
    color:white;
    border-radius: 30px;
    padding: 10px 30px;
    margin:  25px;
    text-transform: uppercase;
    width: 250px;
    height: 54px;
    font-weight: 700;
    margin-bottom: 50px;
    border: 2px solid #d80388;
}