.card-status{
    text-transform: uppercase;
    font-size: 13px;
    color: gray;

}

.card-title{
    font-weight: 700;
    // overflow: hidden;
    height: 3em; 
    @media only screen and (max-width: 600px) {
        font-size: small !important;
    }
}

.card-icon{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.card-body{
    background-color: #eaf3f0;
}

.slider-arrow{
    margin-top: 300px;
    border: none;
    background-color: white;

}

.slider-arrow-left{
    border-radius: 0px 30px 30px 0px;
    width: 40px;
    height: 40px;
    
}
.slider-arrow-right{
    border-radius: 30px 0px 0px 30px;
    width: 40px;
    height: 40px;
}

.game-card{
    margin:10px;
    // @media only screen and (max-width: 600px) {
    //     margin:0px;
    //     padding:5px;
    // }
}

// game section

.game-section{
    background-color: #eaf3f0;
}

.game-section-title{
    text-transform: uppercase;
    padding-top: 50px;
    text-align: center;
    h2{
        font-weight: 700;
    }
}

.clear{
    clear: both;
}

.btn-more{
    text-align: center;
    background-color:#d50063;
    color:white;
    border-radius: 30px;
    padding: 10px 30px;
    margin:  25px;
    text-transform: uppercase;
    width: 250px;

}