.video-section{
    background-color: white;
    height: 55vh;
}

.video-section-title{
    text-transform: capitalize;
    padding-top: 50px;
    text-align: center;
    h2{
        font-weight: 700;
        font-size: 1.75rem;
    }
}

.video-card-container{
    h5{
        font-weight: 700;
        font-size: 1.0625rem;
        letter-spacing: 1px;

    }
}

.video-card-container:hover{
    cursor: pointer;
    h5{
        text-decoration: underline;
    }
}

.img {
    position: relative;
  }
  
  .img-icon-play {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }